@charset="utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
*{
    box-sizing: border-box;

}
html{
    width: 100%;
}

body{
    margin:0px;
}

.fade_off{
    opacity: 0;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition: all 1s;
    -ms-transition:all 1s;
    transition: all 1s;
}
.fade_on{
    opacity: 1;
}
.shutter{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1e1e1e;
    animation: byeShutter 2.6s forwards;
    -webkit-animation:byeShutter 2.6s forwards;
}
.shutter::after{
content: '';
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: goldenrod;
    width: 0;
    height: 1px;
    animation: shutterOpen 3.6s forwards;
    -webkit-animation:shutterOpen 3.6s forwards;
}
.shutter::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color:coral;
    width: 0;
    height: 1px;
    animation: shutterOpen 2.6s forwards;
    -webkit-animation:shutterOpen 2.6s forwards;
}
@keyframes byeShutter{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen{
    0%{
        width: 0;
        height: 1px;
    }
    50%{
        width: 100%;
        height: 1px;
    }
    70%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
header{
    width: 100%;
}

.header_wrap{
    background: url(../images/pic3.jpg);
    z-index: -999;
    object-fit: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
}


.header_background{
    background:rgba(0,0,0,0.6);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    transition: 0.5s;
}

.header{
    position: relative;
    width: 90%;
    height: 80px;
    margin:0 auto;
}
#illust01 {
    margin: 0 auto;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 180px;
    z-index: 99;
    filter: drop-shadow(2px 2px 3px green);
}
#illust02 {
    margin: 0 auto;
    line-height: 0;
    position: absolute;
    top: 50px;
    left: 780px;
    z-index: 99;
     filter: drop-shadow(2px 2px 3px #fff);
}

.header_container{
    display: flex;
    width: 100%;
    height: 80px;
}
.header_logo{
    display: flex;
    align-items: center;
    width: auto;
    transition: 0.5s;
    text-align: center;
}

.portfolio{
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: palevioletred;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    transition: 0.6s;
    text-shadow: 2px 2px 2px #111;
}
.logo_content{
    display: flex;
    text-align: center;
    align-items: center;
}
.header_container .header_logo img{
    height: 60px;
    margin-top:-10px;
    filter: drop-shadow(2px 2px 3px #fff);
}
.header_container .menu{
    width: 90%;
    align-items: center;
}
.header_container ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
    text-align: right;
    align-items: center;
}
.header_container li{
    text-align: center;
    width: 10%;
    text-shadow: 2px 2px 2px #111;
}
.header_container li a{
    src: url(font/Noto+Serif+JP.html);
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
    color: rgba(255,255,255,1);
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    transition: all 0.6s;
}
.header_container li a:hover{
    color: coral;
    border-bottom: solid 4px white;
    margin-top: -4px;
}
.header_container li a:active{
    color: coral;
    border-bottom: solid 4px white;
    margin-top: -4px
}
.typing{
    width: 100%;
    height: auto;
    position: relative;
}
.typing img{
    width: 100%;
    height: 800px;
}
.typing_wrap{
    position: absolute;
    left: 50%;
    top:40%;
    text-align: center;
    width: 100%;
    transform: translate(-50%,-50%);
}
.typing_wrap h1{
    color: #fff;
    font-family: 'Times New Roman',Times,serif;
    font-size: 3rem;
}
.typed::after{
    content: '|';
    animation: blink 0.7s infinite;
}
@keyframes blink{
    50%{opacity: 0}
}
.scroll{
    position: absolute;
    left: 50%;
    top:60%;
    text-align: center;
    width: 100%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
}

.scrolltag{
    width: 35px;
    height: 35px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
      opacity: 0.5;
      background: yellow;
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
      opacity: 0.8;
      background: red;
  }
}

.is-animation .header_logo .portfolio{
    color: aliceblue;
}
.is-animation .header_background{
    background:rgba(199,26,63,0.8);
}

#about{
    position: relative;
    background-color: rgba(255,255,243,0);
    margin-top: -7px;
    height:auto;
}
.aboutImg{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/section.jpg);
    z-index: -1;
    width: 100%;
    height: 1100px;
}
.about_wrap{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 100px;
}
.about_scroll{
    width: 80%;
    margin:auto;
    font-size: 60px;
    line-height: 1.5em;
    text-align: center;
    overflow: hidden;
}
.about_span{
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: inline-block;
    white-space: nowrap;
    line-height: 1em;
    padding-left: 100%;
    animation: scrollAnime 11s linear infinite;
    color:#fff;
    text-shadow: 6px 7px 8px #222222;
}
.onecolor{
    display: inline-block;
    color: #e5ab47;
}
@keyframes scrollAnime{
    0%{
     transform: translateX(0);
     -webkit-transform: translateX(0);
    }
    100%{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    }
}
.about_wrap{
    width: 90%;
    margin: 30px auto;
}
.onecolor_all{
    color:#e5ab47
}
.title_all{
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: #232323;
    position: relative;
    border-bottom: 2px solid black;
    text-shadow: 6px 7px 8px #222222;
}
.title_all::after{
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    z-index: 99;
    width: 26%;
    height: 4px;
    background-color:#e5ab47;
}

.section1Wrap {
    position: relative;
    width: 880px;
    padding-top: 80px;;
    margin: 0 auto;
    justify-content: center;
}
#illust06 {
    margin: 0 auto;
    line-height: 0;
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 99;
    object-fit: cover;
    filter:  drop-shadow(10px 10px 10px skyblue);
}
#illust07 {
    margin: 0 auto;
    line-height: 0;
    position: absolute;
    top: 100px;
    left: 450px;
    z-index: 99;
    object-fit: cover;
    filter:  drop-shadow(20px 16px 18px #111);
    overflow: hidden;
}

.section1 h1 {
    font-size: 34px;
    font-family: 'Noto Serif JP', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: "M PLUS Rounded 1c";
    color: #fff;
    letter-spacing:10px;
    text-shadow: #FC0 2px 0 15px;
    text-shadow: -.02em .02em #FC235F, -.09em .09em #000000;
    text-shadow: -.2em .2em #111;
    font-family: 'Dosis';
text-shadow: #C5394A 1px 1px,#C5394A 0px 0px,#C5394A 1px 1px,#C5394A 2px 2px,#C5394A 3px 3px,#C5394A 4px 4px,#C5394A 5px 5px,#C5394A 6px 6px,#C5394A 7px 7px,#C5394A 8px 8px,#C5394A 9px 9px,#C5394A 10px 10px,#C5394A 11px 11px,#C5394A 12px 12px,#C5394A 13px 13px,#C5394A 14px 14px,#C5394A 15px 15px,#C5394A 16px 16px,#C5394A 17px 17px,#C5394A 18px 18px,#C5394A 19px 19px,#C5394A 20px 20px,#C5394A 21px 21px,#C5394A 22px 22px,#C5394A 23px 23px,#C5394A 24px 24px,#C5394A 25px 25px,#C5394A 26px 26px,#C5394A 27px 27px,#C5394A 28px 28px,#C5394A 29px 29px;
}

.section1Flex{
    width: 100%;
    height: auto;
    margin: 90px auto;
    display: flex;
}
.flexLeft{
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}
.flexLeft span{
    font-size: 24px;
    color: #fff;
    letter-spacing: 4px;
    line-height: 2;
    font-family: "M PLUS Rounded 1c";
    text-shadow: #FC0 2px 0 15px;
}
.flexRight{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 998;
}
.flexRight img{
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #111;
    border: solid 1px #fff;
}
.git{
    background: rgba(255,255,255,0.7);
}
.photo{
    width: 100%;
    margin: 50px auto;
    text-align: center;
    color: black;
}
.slideWrap{
    width: 90%;
    margin: 30px auto;
}
.bx-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    height: 650px;
    margin: 0 auto !important;
    overflow: hidden!important;
}

.bx-viewport {
    width: 650px !important;
    height: 550px !important;
    margin: 0 auto !important;
    overflow: visible !important;
}

.bxslider img {
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}
.photo h3{
    font-size: 150%;
    border-bottom: 3px solid #111;
}
.photo h1{
    font-size: 200%;
    border-bottom: 5px solid #111;
}
.photolist{
    width: 100%;
    height: 100%;
    margin-top:-70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photolist a{
display: block;
}
.card1{
    width: 25%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
    margin: 20px 20px;
    position: relative;
    border: 2px double rgba(255,255,255,0.6);
    box-shadow: 5px 2px 4px;
    cursor: pointer;
}
.card1 a{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}
.card1 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.card{
    width: 25%;
    height: 300px;
    overflow: hidden;
    margin: 20px 20px;
    position: relative;
    border: 2px double rgba(255,255,255,0.6);
    box-shadow: 5px 2px 4px;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.card1 .caption{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 130%;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.4s step-end;
    -webkit-transition: all 0.4s step-end;
}
.card1:hover .caption{
    visibility: visible;
}
.card1 .caption p{
    font-size: 130%;
    padding-top:150px;
    color: #fff;
    opacity: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.card1:hover .caption p{
    opacity: 1;
}
.card1 .mask1,.card .mask2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    -webkit-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
.card1 .mask1{
    top:-100%;
}
.card1:hover .mask1{
    top:0;
}
.card1 .mask2{
    bottom:-50%;
}
.card1:hover .mask2{
    bottom:0;
}
.card .caption{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 130%;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.4s step-end;
    -webkit-transition: all 0.4s step-end;
}
.card:hover .caption{
    visibility: visible;
}
.card .caption p{
    font-size: 130%;
    padding-top:150px;
    color: #fff;
    opacity: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.card:hover .caption p{
    opacity: 1;
}
.card .mask1,.card .mask2{
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
.card .mask1{
    top:-50%;
}
.card:hover .mask1{
    top:0;
}
.card .mask2{
    bottom:-50%;
}
.card:hover .mask2{
    bottom:0;
}

#skill {
    margin-top: -30px;
}
.skill_wrap{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}
.skill_wrap img{
    width: 100%;
    height: 900px;
    object-fit: cover;
}
.skill_content{
    position: absolute;
    top:5%;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 5%;
}
.skill_card{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background: rgba(255,255,255,0.7);
}
.skill_card h2{
    font-family: 'Montserrat', sans-serif;
}
.skill_card_list{
    width: 25%;
    height: auto;
    margin: 30px;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30%;
     box-shadow: 10px 10px 15px -10px;
}
.skill_card_list h4{
     font-family: 'Montserrat', sans-serif;
}
.skill_card_list i{
    padding-top: 30px
}

.skillcolor{
 font-size: 200px;
}
#service{
    margin-top: -20px;
}
.service_wrap{
    background: url(../img/sunset.jpg);
    background-color:rgba(255,255,255,0.3);
    object-fit: cover;
    background-position: right;
    background-size: cover;
    width:100%;
    height: 900px;
}
.service_mask{
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.service_content{
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
}
.service_inner {
    position: relative;
    padding: 0 24px;
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
}
.service_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 160px;
}
.service_item {
    background-color: rgba(1,1,1,0.6);
    color: #555;
    box-shadow: 0px 0px 20px 0px #000;
    position: relative;
    width: 30%;
    padding: 40px 20px 20px;
}
.service_logo{
position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-size: 1.875rem;
    background-color: #fff;
    color: rgba(253,115,90,1)
}
.iii{
    font-weight: 900;
}
.service_title{
text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    color: #f6b483;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.service_text{
    text-align: center;
    line-height: -3px;
    padding: 25px;
    color: aliceblue;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.more_service{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.moreBtn {
    display: inline-block;
    text-align: center;
    background: rgba(253,115,90,1);
    border: 3px solid white;
    font-size: 24px;
    color: white;
    font-family: 'Oxanium', sans-serif;
    border-radius: 50px;
    padding: 10px 60px;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.moreBtn:hover{
    background: white;
    color:rgba(253,115,90,1);
    border-color: rgba(253,115,90,1);
}
#contact{
    width: 100%;
    height: 1000px;
    background: rgba(1,1,1,0.6);
}
.contact_wrap{
    padding: 120px 0;
}
.onecolor_contact{
    color:#e5ab47
}
.title_contact{
    width: 90%;
    margin: 0 auto;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: #FFF;
    position: relative;
    border-bottom: 2px solid #fff;
    text-shadow: 6px 7px 8px #fff;
}
.title_contact::after{
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    z-index: 99;
    width: 33%;
    height: 4px;
    background-color:#e5ab47;
}
.fo-title{
    margin:0 auto;
    margin-top: 120px;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.9);
}
.fo-line {
    background: #fff;
    width: 55px;
    height: 1px;
    margin: 30px auto;
}

form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}

.form_wrap{
    width: 50%;
    margin: 0 auto;
      margin-top: 105px;
}
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
}

  placeholder {
    color: darken(#f9f9f9, 50%);
  }

textarea {
  height: 10rem;
}
.captcha {
  float:left;
}
  input {
    float: right;
  }
  input[name=question] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }
  [name=captcha] {
    width: 5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.5rem;
      text-align: center;
}
.submit_button{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.submit_fun{
    margin-top: 50px;
    padding: 15px;
    color: aliceblue;
    background: rgba(199,26,63,1);
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.6s;
         font-family:  'Noto Serif JP', sans-serif;
}
.submit_fun:hover{
    background: #fff;
    color: rgba(199,26,63,1);
    border:4px solid rgba(199,26,63,1);
    font-size: 20px;
    font-family:  'Noto Serif JP', sans-serif;
}
#footer {
    background:rgba(199,26,63,1);
    padding: 30px;
    width: 100%;
    height: auto;
    margin-bottom: -40px;
}
.footer_wrap{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
}
.footer_in{
    width: 30px;
    height: 30px;
    margin:0 10px;
    border-radius: 50%;
    box-shadow: 0 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-size: 1.875rem;
    background:#fff;
    position: relative;
    cursor: pointer;
}
.footer_in:hover{
    opacity: 0.8;
    background: black;
}
.footer_i{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: black;
}
.footer_i:hover{
    color: white;
}
.footer_in a{
    display:block;
    text-decoration: none;
}
#footer p {
    margin: 0;
    text-align: center;
    margin:30px auto 0 auto;
    font-family: 'Noto Serif JP', sans-serif;
    color: #fff
}

.last{
    padding-top: 100px;
width: 100%;
    height: 1000px;
    background: #fff;
}
.tria{
    margin:0 auto;
    margin-top: 100px;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: auto;
    border-right: 4px;
}
.tria::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50px;
    height: 44px;
    overflow: hidden;
    background: #000;
    left: -40px;
    transform: rotate(45deg) ;
}
